{{<<<<<<<}}
{{~#set "any" false}}{{/set~}}
{{=======}}
{{~set "any" false~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#set "any" true}}{{/set~}}
{{=======}}
{{~set "any" true~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{#each glossary}}{{#formatGlossary ../dictionary}}{{{.}}}{{/formatGlossary}}{{/each}}
{{=======}}
{{#each glossary}}{{formatGlossary ../dictionary .}}{{/each}}
{{>>>>>>>}}

{{<<<<<<<}}
{{#each glossary}}{{#formatGlossary ../dictionary}}{{{.}}}{{/formatGlossary}}{{#unless @last}} | {{/unless}}{{/each}}
{{=======}}
{{#each glossary}}{{formatGlossary ../dictionary .}}{{#unless @last}} | {{/unless}}{{/each}}
{{>>>>>>>}}

{{<<<<<<<}}
<ul>{{#each glossary}}<li>{{#formatGlossary ../dictionary}}{{{.}}}{{/formatGlossary}}</li>{{/each}}</ul>
{{=======}}
<ul>{{#each glossary}}<li>{{formatGlossary ../dictionary .}}</li>{{/each}}</ul>
{{>>>>>>>}}

{{<<<<<<<}}
{{~#set "previousDictionary" dictionary~}}{{~/set~}}
{{=======}}
{{~set "previousDictionary" dictionary~}}
{{>>>>>>>}}

{{<<<<<<<}}
[sound:{{#getMedia "audio"}}{{/getMedia}}]
{{=======}}
[sound:{{getMedia "audio"}}]
{{>>>>>>>}}

{{<<<<<<<}}
<span class="expression-{{termFrequency}}">{{~#furigana}}{{{.}}}{{/furigana~}}</span>
{{=======}}
<span class="expression-{{termFrequency}}">{{~furigana .~}}</span>
{{>>>>>>>}}

{{<<<<<<<}}
{{#furigana}}{{{definition}}}{{/furigana}}
{{=======}}
{{furigana definition}}
{{>>>>>>>}}

{{<<<<<<<}}
<span class="expression-{{termFrequency}}">{{~#furiganaPlain}}{{{.}}}{{/furiganaPlain~}}</span>
{{=======}}
<span class="expression-{{termFrequency}}">{{~furiganaPlain .~}}</span>
{{>>>>>>>}}

{{<<<<<<<}}
{{#furiganaPlain}}{{{definition}}}{{/furiganaPlain}}
{{=======}}
{{furiganaPlain definition}}
{{>>>>>>>}}

{{<<<<<<<}}
<img src="{{#getMedia "screenshot"}}{{/getMedia}}" />
{{=======}}
<img src="{{getMedia "screenshot"}}" />
{{>>>>>>>}}

{{<<<<<<<}}
<img src="{{#getMedia "clipboardImage"}}{{/getMedia}}" />
{{=======}}
<img src="{{getMedia "clipboardImage"}}" />
{{>>>>>>>}}

{{<<<<<<<}}
{{~#if (hasMedia "clipboardText")}}{{#getMedia "clipboardText"}}{{/getMedia}}{{/if~}}
{{=======}}
{{~#if (hasMedia "clipboardText")}}{{getMedia "clipboardText"}}{{/if~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#pronunciation format=format reading=reading downstepPosition=position nasalPositions=nasalPositions devoicePositions=devoicePositions~}}{{~/pronunciation~}}
{{=======}}
{{~pronunciation format=format reading=reading downstepPosition=position nasalPositions=nasalPositions devoicePositions=devoicePositions~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#furigana expression reading~}}{{~/furigana~}}
{{=======}}
{{~furigana expression reading~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#set "exclusive" (spread exclusiveExpressions exclusiveReadings)}}{{/set~}}
{{=======}}
{{~set "exclusive" (spread exclusiveExpressions exclusiveReadings)~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#set "separator" ""~}}{{/set~}}
{{=======}}
{{~set "separator" ""~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#get "separator"}}{{/get~}}{{{.}}}
{{=======}}
{{~get "separator"~}}{{{.}}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#set "found" false}}{{/set~}}
{{=======}}
{{~set "found" false~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#set "found" true}}{{/set~}}
{{=======}}
{{~set "found" true~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#set "first" true}}{{/set~}}
{{=======}}
{{~set "first" true~}}
{{>>>>>>>}}

{{<<<<<<<}}
                        {{~#set (concat "used_" .) true~}}{{~/set~}}
                        {{~#set "first" false~}}{{~/set~}}
{{=======}}
                        {{~set (concat "used_" .) true~}}
                        {{~set "first" false~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{~#if (hasMedia "selectionText")}}{{#getMedia "selectionText"}}{{/getMedia}}{{/if~}}
{{=======}}
{{~#if (hasMedia "selectionText")}}{{getMedia "selectionText"}}{{/if~}}
{{>>>>>>>}}

{{<<<<<<<}}
{{#getMedia "textFurigana" definition.cloze.sentence escape=false}}{{/getMedia}}
{{=======}}
{{getMedia "textFurigana" definition.cloze.sentence escape=false}}
{{>>>>>>>}}
